streamlit==1.32.0
geopandas==0.14.0
pandas==2.2.0
numpy==1.26.0
matplotlib==3.8.0
folium==0.15.1
streamlit-folium==0.15.1
shapely==2.0.3
reportlab==4.1.0
Pillow==10.2.0
fiona==1.9.6
pyproj==3.6.1
rtree==1.1.0
